@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cz7eh9');
  src:  url('../fonts/icomoon.eot?cz7eh9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cz7eh9') format('truetype'),
    url('../fonts/icomoon.woff?cz7eh9') format('woff'),
    url('../fonts/icomoon.svg?cz7eh9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*此文件只写一些公共样式*/
.style-red{
  color: #f10215!important;
}
.w{
	width: 1190px;
	margin: 0 auto;
}
.fr{
	float: right;
}
.fl{
	float: left;
}